<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragment/head :: head}">
    <title>나만의 가계부</title>
</head>
<script>
    $(document).ready(function() {
        $('#searchDate').on('click', function() {
            $(this).get(0).showPicker();
        });
    });

    function changeMonth(direction) {
        const input = $("#searchDate");
        const searchDate = new Date(input.val() + '-01');

        searchDate.setMonth(searchDate.getMonth() + direction);

        const year = searchDate.getFullYear();
        const month = String(searchDate.getMonth() + 1).padStart(2, '0');
        input.val(year + '-' + month);
        input.trigger('change');
    }

    function deleteBudget(el) {
        const budgetId = $(el).data('budget-id');

        if (confirm("예산을 삭제하시겠습니까?")) {
            $.ajax({
                url: '/budget/' + budgetId,
                type: 'DELETE',
                success: function() {
                    alert("삭제되었습니다.");
                    location.reload();
                },
                error: function() {
                    alert("삭제할 수 없습니다.");
                }
            });
        }
    }
</script>
<body>
<div th:insert="~{fragment/header :: header}"></div>
<div class="container center">
    <div>
        <form th:action="@{/budget}" th:object="${req}" method="get">
            <div class="fix-top-h38 left-w600" th:if="${data.budget.budgetId != null}">
                <i class="fi fi-rs-trash h30" th:data-budget-id="${data.budget.budgetId}" onclick="deleteBudget(this)"></i>
            </div>
            <div class="w600 ta-center fix-top-center-w600">
                <div class="h30" onclick="changeMonth(-1)">
                    <i class="fi fi-rr-angle-left"></i>
                </div>
                <label>
                    <input id="searchDate" type="month" th:field="*{searchDate}" th:onchange="this.form.submit()" class="input-month">
                </label>
                <div class="h30" onclick="changeMonth(1)">
                    <i class="fi fi-rr-angle-right"></i>
                </div>
            </div>
            <div class="fix-top-h38 right-w600">
                <i class="fi fi-rs-edit h30" th:data-search-date="${req.searchDate}" onclick="location.href='/budget/edit?searchDate=' + this.getAttribute('data-search-date')"></i>
            </div>
            <div class="w600 mt90">
                <div class="fs26 space-between ai-flex-end pb15 border-underline">
                    <h2>생활비</h2>
                    <h2 th:text="${#numbers.formatInteger(data.budget.livingExpenseBudget, 1, 'COMMA')}"></h2>
                </div>
                <div class="mtb15">
                    <div class="space-between mtb10 fs23" th:if="${data.budgetAllocations.size() > 0}">
                        <span>자산 분배</span>
                        <span th:text="${#numbers.formatInteger(data.budget.assetAllocation, 1, 'COMMA')}"></span>
                    </div>
                    <div class="mtb10 fs20 background-gray" th:if="${data.budgetAllocations.size() > 0}">
                        <div th:each="budgetAllocation : ${data.budgetAllocations}" class="space-between p10">
                            <span th:text="${budgetAllocation.asset.assetName}"></span>
                            <span th:text="${#numbers.formatInteger(budgetAllocation.amount, 1, 'COMMA')}"></span>
                        </div>
                    </div>
                    <div class="space-between mtb10 fs23" th:if="${data.fixedExpenses.size() > 0}">
                        <span>고정 지출</span>
                        <span th:text="${#numbers.formatInteger(data.budget.fixedExpenses, 1, 'COMMA')}"></span>
                    </div>
                    <div class="mtb10 fs20 background-gray" th:if="${data.fixedExpenses.size() > 0}">
                        <div th:each="fixedExpense : ${data.fixedExpenses}" class="space-between p10">
                            <span th:text="${fixedExpense.category.categoryName}"></span>
                            <span th:text="${#numbers.formatInteger(fixedExpense.amount, 1, 'COMMA')}"></span>
                        </div>
                    </div>
                    <div class="space-between mtb10 fs23">
                        <span>총 예산 금액</span>
                        <span th:text="${#numbers.formatInteger(data.budget.totalBudget, 1, 'COMMA')}"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>