<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/common.css}" href="/css/common.css" rel="stylesheet">
    <title>나만의 가계부</title>
</head>
<body>
<div class="container">
    <div class="content-01 w500">
        <div class="right fix-top-right">
            <i class="fi fi-rr-sign-in-alt" th:onclick="|location.href='@{/login}'|"></i>
        </div>
        <div class="header-01">
            <h2>나만의 가계부</h2>
        </div>
        <form th:action="@{/email/send}" th:object="${loginForm}" method="post">
            <label for="email"></label>
            <input type="hidden" id="email"
                   th:field="*{email}"
                   th:value="*{email}"
                   readonly />
            <div class="mb30">
                <p class="mtb05">인증되지 않은 이메일은 로그인할 수 없습니다.</p>
                <p class="mtb05">이메일 인증 후 다시 시도해주세요.</p>
            </div>
            <div class="center">
                <button class="btn-gradient w100p" type="submit">인증하기</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>