<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragment/head :: head">
    <title>나만의 가계부</title>
</head>
<body>
<div class="container">
    <div class="content-01 w600">
        <div class="header-01">
            <h2>비밀번호 찾기</h2>
        </div>
        <div class="mb30">
            <p class="mtb05" th:text="${findPasswordForm.email} + '으로 임시 비밀번호가 발급되었습니다.'"></p>
            <p class="mtb05">임시 비밀번호로 로그인 후 비밀번호를 변경해주세요.</p>
        </div>
        <div class="center">
            <button class="btn-gradient w100p" type="button" th:onclick="|location.href='@{/login}'|">로그인</button>
        </div>
    </div>
</div>
</body>
</html>