<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragment/head :: head}">
  <title>나만의 가계부</title>
</head>
<script>
  $(document).ready(function() {
    $(".expenses").on('contextmenu', function(e) {
      e.preventDefault(); // 기본 우클릭 메뉴 방지

      const expenseId = $(this).data('expense-id');

      if (confirm("지출 내역을 삭제하시겠습니까?")) {
        $.ajax({
          url: '/expenses/' + expenseId,
          type: 'DELETE',
          success: function() {
            alert("삭제되었습니다.");
            location.reload();
          },
          error: function() {
            alert("삭제할 수 없습니다.");
          }
        });
      }
    });

    $('#searchDate').on('click', function() {
      $(this).get(0).showPicker();
    });
  });

  function changeMonth(direction) {
    const input = $("#searchDate");
    const searchDate = new Date(input.val() + '-01');

    searchDate.setMonth(searchDate.getMonth() + direction);

    const year = searchDate.getFullYear();
    const month = String(searchDate.getMonth() + 1).padStart(2, '0');
    input.val(year + '-' + month);
    input.trigger('change');
  }

  function search() {
    $("#form").submit();
  }
</script>
<body>
<div th:insert="~{fragment/header :: header}"></div>
<div class="container">
  <div>
    <form id="form" th:action="@{/expenses}" th:object="${req}" method="get">
      <div class="fix-top-left">
        <i class="fi fi-rr-chart-pie" th:data-searchDate="*{searchDate}" onclick="location.href='/expenses/chart?searchDate=' + this.getAttribute('data-searchDate')"></i>
      </div>
      <div class="w600 ta-center fix-top-center-w600">
        <div class="h30" onclick="changeMonth(-1)">
          <i class="fi fi-rr-angle-left"></i>
        </div>
        <label>
          <input id="searchDate" type="month" th:field="*{searchDate}" th:onchange="this.form.submit()" class="input-month">
        </label>
        <div class="h30" onclick="changeMonth(1)">
          <i class="fi fi-rr-angle-right"></i>
        </div>
      </div>
      <div class="fix-top-right-h38">
        <label class="label-underline mlr10">
          <input type="text" th:field="*{searchText}" class="input-none w200">
        </label>
        <i class="fi fi-rr-discover h30" onclick="search()"></i>
      </div>
      <div class="mt80 fs20 space-evenly">
        <div class="plr30 min-w250 flex-grow">
          <div class="bold ptb05">
            <div class="space-between mtb15">
              <span>예산</span>
              <span>500,000</span>
            </div>
            <div class="space-between red mtb15">
              <span>합계</span>
              <span>500,000</span>
            </div>
            <div class="space-between green mtb15">
              <span>필요</span>
              <span>500,000</span>
            </div>
            <div class="space-between blue mtb15">
              <span>잔액</span>
              <span>500,000</span>
            </div>
          </div>
        </div>
        <div class="br mlr30"></div>
        <div class="w50p plr30 min-w600">
          <div th:each="groupedByExpenseDate : ${groupedByExpenseDate}" class="mb50">
            <div th:text="${T(jye.budget.util.DateFormatterUtil).formatLocalDateWithDay(groupedByExpenseDate.key)}" class="bold mtb20"></div>
            <div class="expenses space-between ai-center mtb20 h-weight"
                 th:data-expense-id="${expenses.expenseId}"
                 th:each="expenses : ${groupedByExpenseDate.value}"
                 th:onclick="|location.href='@{/expenses/}| + ${expenses.expenseId} + |'|">
              <span th:text="${expenses.category.categoryName}" class="ptb05 w20p  ta-center br05" th:style="'background-color: ' + ${expenses.category.categoryColor}"></span>
              <span th:text="${expenses.expenseName}" class="w20p ta-center"></span>
              <div class="flex-grow ta-center">
                <span th:text="${expenses.expenseDetail}"></span>
                <span th:if="${!expenses.necessary}" class="orange">*</span>
              </div>
              <span th:text="${#numbers.formatInteger(expenses.amount, 1, 'COMMA')}" class="w20p ta-right"></span>
            </div>
          </div>
        </div>
        <div class="bl mlr30"></div>
        <div class="plr30 min-w250 flex-grow">
          <div class="ptb05">
            <div class="space-between mtb15">
              <span>생활비</span>
              <span th:text="${#numbers.formatInteger(livingExpenseBudget, 1, 'COMMA')}"></span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>