<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragment/head :: head}">
    <title>나만의 가계부</title>
</head>
<body>
<div th:insert="~{fragment/header :: header}"></div>
<div class="container center">
    <div>
        <div class="fix-top-left">
            <i class="fi fi-rr-menu-burger" th:onclick="|location.href='@{/category}'|"></i>
        </div>
        <div class="w550">
            <div class="fs35 mt70 mb30">
                <h2>카테고리 상세</h2>
            </div>
            <div class="fs20">
                <form th:action th:object="${categoryForm}" method="post">
                    <div class="mtb50">
                        <div class="space-between">
                            <label>유형</label>
                            <div class="div-underline">
                                <span th:text="*{categoryType.description}" class="gray"></span>
                            </div>
                        </div>
                        <div class="field-error mt05 ta-right" th:errors="*{categoryType}"></div>
                    </div>
                    <div class="mtb50">
                        <div class="space-between">
                            <label for="categoryName">이름</label>
                            <div class="div-underline">
                                <input type="text" id="categoryName" class="input-none w100p"
                                       th:field="*{categoryName}">
                            </div>
                        </div>
                        <div class="field-error mt05 ta-right" th:errors="*{categoryName}"></div>
                    </div>
                    <div class="mtb50" th:if="${categoryForm.categoryType.name() == 'EXPENSE'}">
                        <div class="space-between">
                            <label for="categoryColor">색상</label>
                            <div class="div-underline">
                                <input type="color" id="categoryColor" class="input-none w100p"
                                       th:field="*{categoryColor}">
                            </div>
                        </div>
                        <div class="field-error mt05 ta-right" th:errors="*{categoryColor}"></div>
                    </div>
                    <div class="ta-right">
                        <button class="btn-gradient w200" type="submit">저장</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>